<footer class="site-footer">
  <div class="container">
    <div class="footer-links">
      <a href="/privacy/">Privacy</a>
      <a href="/terms/">Terms</a>
      <a href="/accessibility/">Accessibility</a>
    </div>
    <div class="footer-social">
      <a href="https://twitter.com/gvancouverhomes" target="_blank" rel="noopener" title="Twitter">
        <img src="/assets/images/twitter-icon.png" alt="Twitter">
      </a>
    </div>
    <p class="footer-copy">© {{ site.time | date: "%Y" }} Greater Vancouver Homes. All rights reserved.</p>
  </div>
</footer>
